{% extends "cms/cms_page.html" %}
{% load cms_tags sekizai_tags staticfiles %}

{% block header %}
    {% include "includes/header.html" %}
{% endblock %}

{% block site_css %}
    {% addtoblock "css" %}
        <link href="{% static 'less/home.less' %}" rel="stylesheet/less" type="text/css">
    {% endaddtoblock %}
{% endblock %}

{% block site_js %}
    {% addtoblock "js" %}
        <script type='text/javascript' src='{% static 'js/App.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/models/session/models.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/models/app/models.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/routers/app/router.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/app/views.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/alert/views.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/models/profile/models.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/models/users/models.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/collections/users/collections.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/profile/views.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/users/views.js' %}'></script>
    {% endaddtoblock %}
{% endblock %}

{% block content %}
    <div class="container" id="content">
        <div id="App"></div>
    </div>
{% endblock %}
