{% extends "cms/cms_page.html" %}
{% load cms_tags sekizai_tags staticfiles %}

{% block head_css %}
    {% addtoblock "css" %}
        <link href="{% static 'less/home.less' %}" rel="stylesheet/less" type="text/css">
    {% endaddtoblock %}
{% endblock %}

{% block header %}
{% if not user.is_authenticated %}
    {% include "includes/header.html" %}
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% include "includes/home_template.html" %}
{% else %}
    {% include "includes/presentation_template.html" %}
{% endif %}
{% endblock %}
