{% load sekizai_tags staticfiles %}

{% block additional_js %}
    {% addtoblock "js" %}
        <script type='text/javascript' src='{% static 'js/app.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/models/session/models.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/models/app/models.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/routers/app/router.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/app/views.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/auth/views.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/alert/views.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/search/views.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/home/views.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/models/profile/models.js' %}'></script>
        <script type='text/javascript' src='{% static 'js/views/profile/views.js' %}'></script>
    {% endaddtoblock %}
{% endblock %}
