{% load cms_tags menu_tags staticfiles sekizai_tags avatar_tags %}
{% block site_navigation_static %}
    {% addtoblock 'css' %}
        <link href="{% static "less/menu.less" %}" rel="stylesheet" type="text/less">
    {% endaddtoblock %}
{% endblock %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ settings.SITE_TITLE }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% show_menu %}
            </ul>
        </div>
        {% if user.is_authenticated %}
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-left navbar-avatar"><a href="{% url 'avatar_change' %}">
                    {% if request.user|has_avatar %}
                        {% primary_avatar user 50 %}
                    {% else %}
                        {% avatar user 50 %}
                    {% endif %}
                    </a>
                </li>
                <li class="pull-left navbar-profile">
                    <ul>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#profile">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {% else %}
        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'registration_register' %}">Register</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>